@using Biblioteca.Models
@model IEnumerable<LivroModel>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

<div class="container mt-5">

    <div class="btn-box d-flex justify-content-between align-items-center mb-3">
        <h2>Cadastro de Livros</h2>
        <a class="btn btn-success" asp-action="Cadastrar" asp-controller="Livro"><i class="bi bi-plus-circle mx-2"></i>Cadastrar novo Livro</a>
    </div>

    <table class="table table-hover" id="registros">
        <thead>
            <tr>
                <th></th>
                <th>Título</th>
                <th>Autor</th>
                <th>Genero</th>
                <th>Quantidade em Estoque</th>
                <th>Data de Cadastro</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @if (Model.Count() > 0)
                {
                    @foreach (var livro in Model)
                    {
                        <tr>
                            @if (livro.Capa != null)
                            {
                                <td>
                                    <img src="imagem/@livro.Capa" style="width:50px; height:50px" />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <img src="..." style="width:50px; height:50px" />
                                </td>
                            }
                            <td><i class="bi bi-people mx-1"></i>@livro.Titulo</td>
                            <td>@livro.Autor</td>
                            <td>@livro.Genero</td>
                            <td><i class="bi bi-envelope-at mx-1"></i>@livro.QuantidadeEstoque</td>
                            <td><i class="bi bi-calendar mx-1"></i>@livro.DataCadastro</td>
                            <td>
                                <a class="btn btn-warning" asp-action="Detalhes" asp-controller="Livro" asp-route-id="@livro.Id"><i class="bi bi-file-earmark-zip mx-1"></i>Detalhes</a>
                                <a asp-action="Editar" asp-controller="Livro" asp-route-id="@livro.Id" class="btn btn-info"><i class="bi bi-pencil mx-1"></i>Editar</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="6" class="text-center">Sem Livros Registrados!</td></tr>
                }
            }
        </tbody>
    </table>

</div>
